$main-background-color: rgb(51, 50, 50);
$quiz-orange: rgb(253, 167, 7);
$text-color: rgb(211, 209, 209);

$answer-default: rgb(180, 179, 179);
$answer-hover: rgb(141, 141, 141);
$success-green: rgb(6, 90, 6);
